<div class="container-dashboard">

  <app-toobal
    [title] = "'File Group'"
    [iconTitle] = "'folder'"
  >
  </app-toobal>
  

  <form [formGroup]="formFiles" *ngIf="isAdministrator">
    <mat-form-field appearance="legacy" class="with" >
      <mat-label>Team</mat-label>
      <mat-select placeholder="Select" formControlName="TeamId">
        <mat-option value="">-- None --</mat-option>
          <ng-container *ngIf="teams$ | async as item">
              <mat-option *ngFor="let team of item.data" [value]="team.Id" >{{ team.TeamName }}</mat-option>
          </ng-container>
      </mat-select>
    </mat-form-field>
  </form>
  
  <div>
    <!-- 
      HTML Plain
      <label for="files">Select files: </label>
    <input type="file" id="files" name="files" multiple [(ngModel)]="document"
    (change)="handleFileInput($event.target.files)"><br><br>
    <input type="button" value="Subir" (click)="postFile()"> 
  -->
    <form [formGroup]="formFilesUpload" *ngIf="isAdministrator" (ngSubmit)="postFile()">
      <label for="files">Select files: </label>
      <input type="file" id="files" name="files" multiple formControlName="documentControl"
      (change)="handleFileInput($event.target.files)" ><br><br>
      <button type="submit" [disabled]="formFilesUpload.invalid" mat-raised-button color="primary">Submit</button>
      <button type="reset" mat-raised-button (click)="formFilesUpload.reset()" *ngIf="!formFilesUpload.invalid">Cancel</button>
    </form>
  </div>
  <!---->

  <app-grid-list
    [cols] = "'4'"
    [rowHeight] = "'100px'"
    [colspan]="1"
    [rowspan]="2"
    [arrayList]="files"
    (clickEvent)="openModal($event)"
  >
  </app-grid-list>
  
</div>
