/* .margin-with {
    margin-left: 5px;
    margin-right: 5px;
}

.left-50 {
    width: 50%; 
    float: left;
}

.right-50 {
    width: 50%; 
    float: right;
}

.inputfile {
    text-align: center;
    position: relative;

} */