<mat-drawer-container class="container-drawer">
    <mat-drawer #drawer class="sidenav" mode="side">
      <button color="primary" mat-button routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </button>  
      <button color="primary" mat-button routerLink="/dashboard/entity">
        <mat-icon>group_work</mat-icon> Entity
      </button>
      <button color="primary" mat-button routerLink="/dashboard/team">
        <mat-icon>folder_shared</mat-icon> Teams
      </button>
      <button color="primary" mat-button routerLink="/dashboard/user">
        <mat-icon>manage_accounts</mat-icon> Manage Accounts
      </button>
    </mat-drawer>
    <div class="sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
  
          <span>Open DMS</span>
          <span class="spacer"></span>
          <!-- <mat-icon>favorite</mat-icon> -->
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changePassword()">
              <mat-icon>password</mat-icon>
              <span>Change Password</span> 
            </button>
            <button mat-menu-item routerLink="/dashboard">
              <mat-icon>dashboard</mat-icon>
              <span>Dashboard</span> 
            </button>
            <button mat-menu-item (click)="logOut()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
      
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
